In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [3]:
incident_df = pd.read_csv('data/Model_matched_to_EAS/matched_Fire_Incidents.csv', 
              low_memory=False)

In [5]:
complaint_df = pd.read_csv('data/Model_matched_to_EAS/matched_Fire_Safety_Complaints.csv', 
              low_memory=False)

In [6]:
tax_df = pd.read_csv('data/Model_matched_to_EAS/matched_EAS_Tax_Data.csv',
                    low_memory=False)

/usr/local/lib/python2.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
def standardize(data, col, drop, newname):
    t = data[col].value_counts().reset_index() # adds index col
    t['code'] = t['index'].apply(lambda s: s[0:3])
    droppers = drop
    t = t[~t['index'].isin(droppers)] #dropping rows, why? only drops one row
    t.drop_duplicates(subset='code', keep='first', inplace=True) # fixes typographic stuff
    t['index'] = t['index'].apply(lambda x: x.upper())
    t['index'] = t['index'].str.replace(' - ', ' ' )
    t.rename(columns = {'index': newname}, inplace=True)
    t.drop(col, axis=1, inplace=True)
    return t

In [8]:
#Prepare fire incident data
incident_df = incident_df[['Incident Date',
                           'Primary Situation',
                           'EAS']].dropna()  #Drop where any variable NAN
incident_df['Incident Date'] = pd.to_datetime(incident_df['Incident Date'])  #To pd datetime
incident_df['Incident_Year'] = incident_df['Incident Date'].dt.year

In [52]:
temp = standardize(incident_df, 'Primary Situation', 
                   ['10 -', '1 -', '11 -'], 
                   'Fire_Incident_Type')

In [ ]:

incident_df['code'] = incident_df['Primary Situation'].apply(lambda s: s[0:3])
incident_df = pd.merge(incident_df, temp, on='code').dropna()
incident_df.drop(['Primary Situation', 'code'], axis=1, inplace=True)

### Trying out standardize

In [9]:
col = 'Primary Situation'

In [55]:
smth = incident_df[col].value_counts().reset_index()

In [47]:
smth.index.unique()

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
            68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81],
           dtype='int64')

In [41]:
len(smth)

82

In [56]:
smth['code'] = smth['index'].apply(lambda s: s[0:3])

In [58]:
to_drop =  ['10 -', '1 -', '11 -']
mask = ~smth['index'].isin(to_drop)
mask.sum()

79

In [59]:
smth = smth.loc[mask, :]

In [60]:
len(smth)

79

In [73]:
smth_dropped = smth.drop_duplicates(subset='code', keep='first')

In [74]:
smth_dropped.head()

                                        index  Primary Situation code
0   113 - cooking fire, confined to container               9540  113
1      118 - trash or rubbish fire, contained               6070  118
2                         111 - building fire               3770  111
3  151 - outside rubbish, trash or waste fire               2709  151
6           150 - outside rubbish fire, other               1702  150

In [75]:
smth_dropped['index'] = smth_dropped['index'].apply(lambda s:s.upper())

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [78]:
temp.columns

Index([u'Fire_Incident_Type', u'code'], dtype='object')

In [80]:
incident_df['code'] = incident_df['Primary Situation'].apply(lambda s: s[0:3])
incident_df = pd.merge(incident_df, temp, on='code').dropna()
incident_df.drop(['Primary Situation', 'code'], axis=1, inplace=True)